.row {
    margin: 0 -5px;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

[class^=col-] {
    float: left;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 24.99%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.left-1 {
    margin-left: 8.33%;
}

.left-2 {
    margin-left: 16.66%;
}

.left-3 {
    margin-left: 24.99%;
}

.left-4 {
    margin-left: 33.33%;
}

.left-5 {
    margin-left: 41.66%;
}

.left-6 {
    margin-left: 50%;
}

.left-7 {
    margin-left: 58.33%;
}

.left-8 {
    margin-left: 66.66%;
}

.left-9 {
    margin-left: 75%;
}

.left-10 {
    margin-left: 83.33%;
}

.left-11 {
    margin-left: 91.66%;
}

.left-12 {
    margin-left: 100%;
}

@media (min-width: 768px) and (max-width: 1200px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 24.99%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .left-s-1 {
        margin-left: 8.33%;
    }

    .left-s-2 {
        margin-left: 16.66%;
    }

    .left-s-3 {
        margin-left: 24.99%;
    }

    .left-s-4 {
        margin-left: 33.33%;
    }

    .left-s-5 {
        margin-left: 41.66%;
    }

    .left-s-6 {
        margin-left: 50%;
    }

    .left-s-7 {
        margin-left: 58.33%;
    }

    .left-s-8 {
        margin-left: 66.66%;
    }

    .left-s-9 {
        margin-left: 75%;
    }

    .left-s-10 {
        margin-left: 83.33%;
    }

    .left-s-11 {
        margin-left: 91.66%;
    }

    .left-s-12 {
        margin-left: 100%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {

    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 24.99%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    .left-m-1 {
        margin-left: 8.33%;
    }

    .left-m-2 {
        margin-left: 16.66%;
    }

    .left-m-3 {
        margin-left: 24.99%;
    }

    .left-m-4 {
        margin-left: 33.33%;
    }

    .left-m-5 {
        margin-left: 41.66%;
    }

    .left-m-6 {
        margin-left: 50%;
    }

    .left-m-7 {
        margin-left: 58.33%;
    }

    .left-m-8 {
        margin-left: 66.66%;
    }

    .left-m-9 {
        margin-left: 75%;
    }

    .left-m-10 {
        margin-left: 83.33%;
    }

    .left-m-11 {
        margin-left: 91.66%;
    }

    .left-m-12 {
        margin-left: 100%;
    }
}
