// ------------------------
// Colores
// ------------------------
$blue_light: #29A9DF;
$blue_dark: #0170BA;
$white: #FFF;
$white_light: #F8F8F8;
$gray_light: #EEE;
$gray_medium: #AAA;
$gray_dark: #333;
$black: #000;
$orange: #F4792B;
$menu_bg: #014A7A;
$red: #C0392B;

$code_bg: #1E1E1E;
$code_style: #D7BA7D;
$code_prop: #9CDCFE;
$code_value: #C8C8C8;
$code_tag: #569CD6;
$code_prop_light: #C80000;
$code_tag_light: #881280;
$code_prog_light: #994500;
$code_general_light: #a894a6;
$code_value_light: #1a1aa6;
$code_sass: #b68ccd;

// ------------------------
// Auxiliares
// ------------------------
$font_medium: 18px;
$font_code: 'Roboto';
$font_layout: 'Raleway';
$font_headers: 'Oswald';

$animation: 500ms;
$logo_menu_duration: 500ms;
$logo_menu_delay: 2000ms;